body {
    margin: 10;
    padding: 10;
    font-family: sans-serif;
    background: linear-gradient(to right, #2736b9, #1aa8e0)
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    background: powderblue;
    text-align: center;
    margin: 15%;
    box-sizing: border-box;
    border-radius: 0.1cm;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0c5c91;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: royalblue;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    font-size: medium;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    border-color: royalblue;
    padding: 14px 40px;
    outline: none;
    color: darkcyan;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: lightskyblue;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: inherit !important;
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}